 
  <!-- ====================================
  ——— MAIN WRAPPER
  ===================================== -->



  
  <!-- ====================================
  ——— BANNER
  ===================================== -->
  <section>
    <div class="banner-style scrolling" id="banner-style-one">
      <div class="single-item bg-whiteSmoke slide slide1 ">
        <div class="container">
          <div class="banner-row">
            <div class="banner-text-content" data-animation="fadeInLeftBig" data-delay="0.5s">
              <h5>Welcome To Onex</h5>
              <h1>New product <br> shop 2018</h1>
              <p>Excepturi iste quam potenti consequuntur, facilisi quisquam leo <br> corporis sodales adipisicing quod.</p>
              <a href="#" class="btn btn-primary">ORDER NOW</a>
            </div>
            <div class="banner-image ">
              <img class="t-pl-50" src="assets/img/banner/banner-img-01.png" alt="Banner Image" data-animation="fadeInRightBig" data-delay="0.5s">
            </div>
          </div>
        </div>

      </div>
      <div class="single-item bg-whiteSmoke slide">
        <div class="container">
          <div class="banner-row">
            <div class="banner-image ">
              <img class="t-pr-50" src="assets/img/banner/banner-img-02.png" alt="Banner Image" data-animation="fadeInLeftBig" data-delay="0.5s">
            </div>
            <div class="banner-text-content" data-animation="fadeInRightBig" data-delay="0.5s">
              <h5>Welcome To Onex</h5>
              <h1>New product <br> shop 2018</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit <br> sed do eiusmod tempor incididunt.</p>
              <a href="#" class="btn btn-primary mt-5">ORDER NOW</a>
            </div>
          </div>
        </div>
      </div>
      <div class="single-item bg-whiteSmoke slide">
        <div class="container">
          <div class="banner-row">
            <div class="banner-text-content" data-animation="fadeInLeftBig" data-delay="0.5s">
              <h5>Welcome To Onex</h5>
              <h1>New product <br> shop 2018</h1>
              <p>Excepteur sint occaecat cupidatat non proident <br> sunt in culpa qui officia deserunt.</p>
              <a href="#" class="btn btn-primary mt-5">ORDER NOW</a>
            </div>
            <div class="banner-image  ">
              <img class="t-pl-50" src="assets/img/banner/banner-img-03.png" alt="Banner Image" data-animation="fadeInRightBig" data-delay="0.5s">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scroll Button -->
    <div class="scroll-btn scrolling">
      <a href="#about" class="btn-scroll-down" ><i class="arrow_down animated " aria-hidden="true"></i></a>
    </div>
  </section>


  <!-- ====================================
  ——— ABOUT
  ===================================== -->
  <section class="section-padding" id="about">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 col-12 col-md-6 wow tafFadeInLeft ">
          <img class="img-style-one d-none d-md-block" src="assets/img/products/product-img-02.png" alt="Image">
        </div>
        <div class="col-lg-6 col-12 col-md-6">
          <h3 class="section-title m-mt-20"> <span class="rev">Powerful & Elegant Design Layout</span></h3>
          <p class="mt-2">Sint nulla facilisi auctor diam ducimus, at irure! aliquip anim tempus laudantium odit hymenaeos. Quisquam ridiculus blanditiis hendrerit aut iste quisquam reprehenderit scelerisque totam, neque, wisi ipsum mollis convallis. Sociosqu cursus risus minim volutpat tempus nec.</p>
          <ul class="list-style mt-3 ">
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Wi-Fi connection</li>
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Very high resolution (4K)</li>
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Can integrate with iOS and Android</li>
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Amazingly Easy to fly</li>
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Built on latest technologies</li>
          </ul>
          <a href="" class="btn btn-primary btn-strock mt-5">read more</a>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================================
  ——— PROMO VIDEO
  ===================================== -->
  <section class="section-padding bg-whiteSmoke" id="promo" >
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 col-12 col-md-6">
          <h3 class="section-title"><span class="rev">Awesome Promo Video</span></h3>
          <p class="mt-2">Nisl alias, corrupti magnam sunt nesciunt, accusamus eu sollicitud egestas dis ac a inventore pede id totam quam  sollicitudin consequuntur fames accumsan quis mus mollis quisquam mauris amet suspendisse torquent nobis excepturi.</p>
          <ul class="list-style mt-3">
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Quick & Powerful</li>
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Multipurpose Theme</li>
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Awesome Design</li>
            <li><i class="fa fa-angle-double-right" aria-hidden="true"></i>Premium Support</li>
          </ul>
        </div>
        <div class="col-lg-5 home-promo-video col-md-6 col-12 wow tafFadeInRight">
          <div class="promo-video">
            <img class="img-fluid" src="assets/img/video/video-bg-01.jpg" alt="">
            <a class="video-link" data-fancybox href="https://www.youtube.com/watch?v=sEl5hp8MEGs">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="15" height="20" viewBox="0 0 15 20">
                <path d="M14.999,9.999 L0.001,19.997 L0.001,0.000 L14.999,9.999 " class="play"/>
              </svg>
              </span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- ====================================
  ——— FEATURES
  ===================================== -->
  <section class="section-padding" id="feature">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-6">
          <h3 class="section-title-center text-center"><span class="rev">Product Features</span></h3>
          <p class="mt-2 text-center">Sint nulla facilisi auctor diam ducimus, at irure! aliquip anim tempus laudantium odit hymenaeos.</p>
        </div>
      </div>
      <div class="row mt-70">
        <div class="col-md-6 col-lg-4 wow tafFadeInLeft" data-wow-offset="100">
          <ul class="nav nav-tabs feature-tabs">
            <li class="nav-item">
              <a href="#vtab1" class="nav-link " data-toggle="tab" aria-expanded="true">
                <div class="media media-style-01 " >
                  <div class="icon-style-1 order-md-1 custom-ml">
                    <i class="icon_pencil" aria-hidden="true"></i>
                  </div>
                  <div class="media-body text-md-right">
                    <h5 class="mt-0">Manage Complex Work</h5>
                    <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#vtab2" class="nav-link" data-toggle="tab" aria-expanded="false">
                <div class="media media-style-01" >
                  <div class="icon-style-1 order-md-1 custom-ml">
                    <i class="icon_lightbulb_alt" aria-hidden="true"></i>
                  </div>
                  <div class="media-body text-md-right">
                    <h5 class="mt-0">Creative Desing</h5>
                    <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#vtab3" class="nav-link" data-toggle="tab">
                <div class="media media-style-01">
                  <div class="icon-style-1 order-md-1 custom-ml">
                    <i class="icon_lock_alt" aria-hidden="true"></i>
                  </div>
                  <div class="media-body text-md-right">
                    <h5 class="mt-0">Secure Your Data</h5>
                    <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 d-none d-lg-block overflowH">
          <div class="image-frame">
            <img src="assets/img/products/frame.png" alt="Image">
            <div class="tab-content scren-image">
              <div class="tab-pane fade show no-padding" id="vtab1" aria-expanded="true">
                <img src="assets/img/products/screen-1.png" alt="Image">
              </div>
              <div class="tab-pane fade  no-padding" id="vtab2" aria-expanded="true">
                <img src="assets/img/products/screen-2.png" alt="Image">
              </div>
              <div class="tab-pane fade no-padding" id="vtab3" aria-expanded="true">
                <img src="assets/img/products/screen-3.png" alt="Image">
              </div>
              <div class="tab-pane fade no-padding" id="vtab5" aria-expanded="true">
                <img src="assets/img/products/screen-1.png" alt="Image">
              </div>
              <div class="tab-pane fade no-padding" id="vtab6" aria-expanded="true">
                <img src="assets/img/products/screen-2.png" alt="Image">
              </div>
              <div class="tab-pane fade no-padding" id="vtab7" aria-expanded="true">
                <img src="assets/img/products/screen-3.png" alt="Image">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow tafFadeInRight" data-wow-offset="100" >
          <ul class="nav nav-tabs feature-tabs">
            <li class="nav-item">
              <a href="#vtab5" class="nav-link" data-toggle="tab" aria-expanded="true">
                <div class="media media-style-01 ">
                  <div class="icon-style-1 custom-mr">
                    <i class="icon_genius" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <h5 class="mt-0">Tight Construction</h5>
                    <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item" >
              <a href="#vtab6" class="nav-link" data-toggle="tab" aria-expanded="false">
                <div class="media media-style-01 "  >
                  <div class="icon-style-1 custom-mr">
                    <i class="icon_flowchart" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <h5 class="mt-0">Secure Your Data</h5>
                    <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#vtab7" class="nav-link" data-toggle="tab">
                <div class="media media-style-01 mb-5 " >
                  <div class="icon-style-1 custom-mr">
                    <i class="icon_cloud-upload_alt" aria-hidden="true"></i>
                  </div>
                  <div class="media-body">
                    <h5 class="mt-0">Track Anything</h5>
                    <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================================
  ——— FAQ
  ===================================== -->
  <section class="section-padding bg-whiteSmoke" id="faqs">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-6">
          <h3 class="section-title-center text-center"><span class="rev">Some FAQ’s</span></h3>
          <p class="mt-2 text-center">Quos sed optio irure nibh. Integer bibendum, ultrices egestas consequuntur. voluptates semper Perferendis ad commodi commodi vel sint.</p>
        </div>
      </div>
      <div class="row mt-70 justify-content-between">
        <div class="col-12 col-md-6 col-lg-5 wow tafFlipInY">
          <div class=" d-none d-md-block mt-5 mr-5  ">
            <img class=" text-center img-style-one" src="assets/img/products/product-img-08.png" alt="Images">
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 wow tafFadeInRight">
          <div id="accordion" role="tablist" aria-multiselectable="true" class="mt-0">
            <div class="card card-accordion">
              <div class="card-header" role="tab" id="heading1">
                <h6 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    Many publishing web page?
                  </a>
                </h6>
              </div>
              <div id="collapse1" class="collapse show" role="tabpanel" aria-labelledby="heading1">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="card card-accordion">
              <div class="card-header" role="tab" id="heading2">
                <h6 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    Our Stunning Work?
                  </a>
                </h6>
              </div>
              <div id="collapse2" class="collapse" role="tabpanel" aria-labelledby="heading2">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="card card-accordion">
              <div class="card-header" role="tab" id="heading3">
                <h6 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    Fully Responsive Landing Page?
                  </a>
                </h6>
              </div>
              <div id="collapse3" class="collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
            <div class="card card-accordion">
              <div class="card-header" role="tab" id="heading4">
                <h6 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    24/7 Friendly Support?
                  </a>
                </h6>
              </div>
              <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4">
                <div class="card-block">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================================
  ——— OUR PRODUCTS
  ===================================== -->
  <section class="section-padding mb-3" id="products">
    <div class="container ">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-6">
          <h3 class="section-title-center text-center"><span class="rev">Our Products</span></h3>
          <p class="mt-2 text-center">Sint nulla facilisi auctor diam ducimus, at irure! aliquip anim tempus laudantium odit hymenaeos.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="product-slider mt-50">
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default">sale</span>
                  <img class="img-fluid" src="assets/img/products/product-img-04.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary">buy Now</a>
                  </div>
                </div>
                <div class="card-body">
                  <a href="#"><h4 class="card-title">The Smart Watch</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$650 <del>500</del></span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default"></span>
                  <img class="img-fluid" src="assets/img/products/product-img-05.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary ">buy Now</a>
                  </div>
                </div>
                <div class="card-body ">
                  <a href="#"><h4 class="card-title">Patek Philippe</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$305.05</span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default"></span>
                  <img class="img-fluid" src="assets/img/products/product-img-06.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary">buy Now</a>
                  </div>
                </div>
                <div class="card-body ">
                  <a href="#"><h4 class="card-title">Chopard</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$1000 </span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default"></span>
                  <img class="img-fluid" src="assets/img/products/product-img-04.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary">buy Now</a>
                  </div>
                </div>
                <div class="card-body ">
                  <a href="#"><h4 class="card-title">Rolex</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$400</span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default">sale</span>
                  <img class="img-fluid" src="assets/img/products/product-img-05.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary ">buy Now</a>
                  </div>
                </div>
                <div class="card-body ">
                  <a href="#"><h4 class="card-title">Ulysse Nardin</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$850 <del>750</del></span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default"></span>
                  <img class="img-fluid" src="assets/img/products/product-img-06.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary">buy Now</a>
                  </div>
                </div>
                <div class="card-body ">
                  <a href="#"><h4 class="card-title">Cartier</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$1150 </span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default"></span>
                  <img class="img-fluid" src="assets/img/products/product-img-04.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary">buy Now</a>
                  </div>
                </div>
                <div class="card-body ">
                  <a href="#"><h4 class="card-title">Omega</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$950 </span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default"></span>
                  <img class="img-fluid" src="assets/img/products/product-img-05.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary ">buy Now</a>
                  </div>
                </div>
                <div class="card-body ">
                  <a href="#"><h4 class="card-title">Louis Moinet</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$650 </span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                      <i class="fa fa-star-o" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="single-item">
              <div class="card card-images ">
                <div class="card-header" >
                  <span class="badge badge-default">sale</span>
                  <img class="img-fluid" src="assets/img/products/product-img-06.png" alt="">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-primary ">buy Now</a>
                  </div>
                </div>
                <div class="card-body ">
                  <a href="#"><h4 class="card-title">A.Lange & Sohne</h4></a>
                  <div class="content d-flex justify-content-between">
                    <span class="price">$1450 <del>1300</del></span>
                    <span class="rating">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================================
  ——— TESTIMONIAL
  ===================================== -->
  <section class="testimonial-section paralax bg-image" id="customers" style="background-image: url(assets/img/bg-img-01.jpg)">
    <div class="container">
      <div class="row justify-content-md-center ">
        <div class="col-12">
          <h3 class="section-title-center text-center white-color"><span class="rev">Customer Reviews</span></h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="testimonial-carouel">
            <div class="single-item">
              <p class="mt-2 text-center white-color mt-4 normal">Dolorum pretium habitasse arcu pretium ut. Consectetuer temporibus eaque cumque, metus varius corporis class minima corporis! Aliqua consectetur, purus dolorum consequuntur class occaecat lacinia mollitia fugit, risus quisque. Iste distinctio, voluptate praesentium.</p>
              <div class="contents text-center mt-4 white-color pb-3">Fletch Skinner / <span> Web Designer</span>
              </div>
            </div>
            <div class="single-item">
              <p class="mt-2 text-center white-color mt-4 normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              <div class="contents text-center mt-4 white-color pb-3">Jone Deo / <span> Full stack developer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================================
  ——— FEATURES INDICATS
  ===================================== -->
  <section class="section-padding feature-indicate">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-6">
          <h3 class="section-title-center text-center"><span class="rev">The Watch Design</span></h3>
          <p class="mt-2 text-center">Sint nulla facilisi auctor diam ducimus, at irure! aliquip anim tempus laudantium odit hymenaeos.</p>
        </div>
      </div>
      <div class="row position-relative">
        <div class="indicate-images d-none d-lg-block" >
          <img class="text-center" src="assets/img/products/product-img-07.png" alt="Images">
        </div>
      </div>
      <div class="row justify-content-between content wow fadeInUp" data-wow-duration="2s">
        <div class="col-lg-3 col-md-6" >
          <div class="media media-style-02">
            <div class="icon-style-3 order-md-1 custom-ml">
              <i class="icon_circle-slelected " aria-hidden="true"></i>
            </div>
            <div class="media-body text-md-right" >
              <h5 class="mt-0">See Progress Across</h5>
              <p>Primis nemo ligula lacinia augue commodo, incididunt.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="media media-style-02">
            <div class="icon-style-3">
              <i class="icon_circle-slelected " aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <h5 class="mt-0">Manage Complex</h5>
              <p>Primis nemo ligula lacinia augue commodo, incididunt.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-between content2 wow fadeInUp" data-wow-duration="2s">
        <div class="col-lg-3 col-md-6 wow fadeIn">
          <div class="media media-style-02">
            <div class="icon-style-3 order-md-1 custom-ml">
              <i class="icon_circle-slelected " aria-hidden="true"></i>
            </div>
            <div class="media-body text-md-right">
              <h5 class="mt-0">Secure Your Data</h5>
              <p class="">Primis nemo ligula lacinia augue commodo, incididunt.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeIn">
          <div class="media media-style-02">
            <div class="icon-style-3 ">
              <i class="icon_circle-slelected " aria-hidden="true"></i>
            </div>
            <div class="media-body ">
              <h5 class="mt-0">Easily Add New Project</h5>
              <p class="">Primis nemo ligula lacinia augue commodo, incididunt.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ====================================
  ——— CALL TO ACTION
  ===================================== -->
  <section class="section-padding bg-image1 paralax" id="cta" style="background-image: url(assets/img/bg-img-02.jpg)">
    <div class="container ">
      <div class="row justify-content-md-center">
        <div class="col-12 col-lg-8">
          <h3 class="section-title-center text-center white-color"><span class="rev"> Working Hard To Create The Best Products</span></h3>
          <p class="mt-2 text-center">You will be happy when buying our products.</p>
          <div class="text-center mt-5">
            <a href="#" class="btn btn-primary btn-cta mr-3">buy Now</a>
            <a href="#" class="btn btn-white bold">Get Hefty</a>
          </div>
        </div>
      </div>
    </div>
  </section>

      